In [15]:
import pandas as pd
import numpy as np
arr1=np.array([2,6,9,7,74])
arr2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(arr1)
print(arr2)

[ 2  6  9  7 74]
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
# Data Frames
data={
    "Name": ["Tom", "nick", "krish", "jack"],
    "Age":[20,21,19,18],
    "City":["NY","LA","SF","DC"]
}
df=pd.DataFrame(data,index=['ðŸ˜Ž','ðŸ˜€','ðŸ˜Ž','ðŸ˜Ž'])
print(df)

    Name  Age City
ðŸ˜Ž    Tom   20   NY
ðŸ˜€   nick   21   LA
ðŸ˜Ž  krish   19   SF
ðŸ˜Ž   jack   18   DC

In [17]:
import pandas as pd
st=pd.read_csv('C:/Users/sande/Desktop/Advance_Python_Challnege/Libraries_in_python/Pandas_Libarary/Untitled spreadsheet - Sheet1.csv')
st
st.head()

,Name,Roll Number,City,State,Contact Number,Course
0,Ishita Gupta,101,Pune,Maharashtra,+91 9355419430,Computer Science
1,Riya Mehta,102,Ahmedabad,Gujarat,+91 9335842331,Electronics Engineering
2,Aadhya Patel,103,Delhi,Delhi,+91 9097531977,Mechanical Engineering
3,Ishita Chopra,104,Lucknow,Uttar Pradesh,+91 7649654275,Mechanical Engineering
4,Diya Gupta,105,Mumbai,Maharashtra,+91 7671986328,Computer Science

In [18]:
import pandas as pd
data=pd.read_csv('C:/Users/sande/Desktop/Advance_Python_Challnege/Libraries_in_python/Pandas_Libarary/Citydata.csv')
data

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
0,Abohar,3,PUNJAB,9,145238,76840,68398,15870,8587,7283,...,44972,890,848,79.86,85.49,73.59,"30.1452928,74.1993043",16287,8612,7675
1,Achalpur,27,MAHARASHTRA,7,112293,58256,54037,11810,6186,5624,...,43086,928,909,91.99,94.77,89.00,"21.257584,77.5086754",8863,5269,3594
2,Adilabad,28,ANDHRA PRADESH,1,117388,59232,58156,13103,6731,6372,...,37660,982,947,80.51,88.18,72.73,"19.0809075,79.560344",10565,6797,3768
3,Adityapur,20,JHARKHAND,24,173988,91495,82493,23042,12063,10979,...,54515,902,910,83.46,89.98,76.23,"22.7834741,86.1576889",19225,12189,7036
4,Adoni,28,ANDHRA PRADESH,21,166537,82743,83794,18406,9355,9051,...,45089,1013,968,68.38,76.58,60.33,"15.6322227,77.2728368",11902,7871,4031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,Vizianagaram,28,ANDHRA PRADESH,12,227533,111596,115937,20487,10495,9992,...,80306,1039,952,81.85,88.18,75.80,"18.1066576,83.3955506",30656,19173,11483
489,Warangal,28,ANDHRA PRADESH,9,620116,310400,309716,55392,28434,26958,...,217136,998,948,84.16,91.54,76.79,"17.9689008,79.5940544",109613,69507,40106
490,Wardha,27,MAHARASHTRA,8,105543,53241,52302,9754,5139,4615,...,43339,982,898,94.05,97.19,90.88,"20.745319,78.6021946",19363,10645,8718
491,Yamunanagar,6,HARYANA,3,216628,115404,101224,22905,12556,10349,...,74255,877,824,85.91,89.61,81.71,"30.1290485,77.2673901",29803,14349,15454
492,Yavatmal,27,MAHARASHTRA,14,116714,58717,57997,11081,5894,5187,...,46561,988,880,91.81,95.45,88.17,"20.3887937,78.1204073",13511,7397,6114

In [21]:
print(st.info())
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            20 non-null     object
 1   Roll Number     20 non-null     int64
 2   City            20 non-null     object
 3   State           20 non-null     object
 4   Contact Number  20 non-null     object
 5   Course          20 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name_of_city                    493 non-null    object
 1   state_code                      493 non-null    int64
 2   state_name                      493 non-null    object
 3   dist_code                       493 non-null    int64
 4   population_total                493 non-null    int64
 5   population_male                 493 non-null    int64
 6   population_female               493 non-null    int64
 7   0-6_population_total            493 non-null    int64
 8   0-6_population_male             493 non-null    int64
 9   0-6_population_female           493 non-null    int64
 10  literates_total                 493 non-null    int64
 11  literates_male                  493 non-null    int64
 12  literates_female                493 non-null    int64
 13  sex_ratio                       493 non-null    int64
 14  child_sex_ratio                 493 non-null    int64
 15  effective_literacy_rate_total   493 non-null    float64
 16  effective_literacy_rate_male    493 non-null    float64
 17  effective_literacy_rate_female  493 non-null    float64
 18  location                        493 non-null    object
 19  total_graduates                 493 non-null    int64
 20  male_graduates                  493 non-null    int64
 21  female_graduates                493 non-null    int64
dtypes: float64(3), int64(16), object(3)
memory usage: 84.9+ KB
None